ion-content {
  --background: #0f2d25;  
  color: #e0f2f1;         
}

h1, h2, h3, p {
  text-align: center;
  color: #e0f2f1;  
  margin: 6px 0;
}

ion-toolbar {
  --background: #124734; 
  --color: #e0f2f1;
}

ion-searchbar {
  --background: #1d4e3f;
  --color: #e0f2f1;
  border-radius: 10px;
  margin-bottom: 10px;
}

.weather-card {
  background: #1d4e3f; 
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  color: #e0f2f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-list, ion-item {
  --background: transparent;
  color: #e0f2f1;
}

ion-toggle {
  --handle-background-checked: #4caf50;
  --handle-background: #ccc;
}

ion-card-header {
  color: #ff8a80;
  font-weight: bold;
  text-align: center;
}
