<ion-header>
  <ion-toolbar>
    <ion-title>Weather App</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleUnits()">
        {{ isCelsius ? '°C' : '°F' }}
      </ion-button>

      <ion-button (click)="toggleTheme()">
        <ion-icon [name]="isDarkMode ? 'moon' : 'sunny'"></ion-icon>
      </ion-button>

      <ion-button (click)="toggleAlerts()">
        <ion-icon [name]="alertsEnabled ? 'notifications' : 'notifications-off'"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    [formControl]="searchControl"
    placeholder="Search city..."
    (ionClear)="loadWeatherByCurrentLocation()"
    (ionChange)="searchWeather()">
  </ion-searchbar>

  <div *ngIf="currentWeather" class="weather-info">
    <h2>{{ currentWeather.name }}</h2>
    <h1>{{ currentWeather.main.temp }} {{ isCelsius ? '°C' : '°F' }}</h1>
    <p>Humidity: {{ currentWeather.main.humidity }}%</p>
    <p>Wind: {{ currentWeather.wind.speed }} {{ isCelsius ? 'm/s' : 'mph' }}</p>

    <ion-card *ngIf="alertsEnabled && currentWeather.weather[0]?.description?.includes('storm')">
      <ion-card-header color="danger">
        Severe Weather Alert!
      </ion-card-header>
    </ion-card>
  </div>

  <h3 style="text-align: center; margin-top: 20px;">5-Day Forecast</h3>

  <ion-list>
    <ion-item *ngFor="let item of forecast">
      <ion-avatar slot="start">
        <img src="https://openweathermap.org/img/wn/{{ item.weather[0].icon }}@2x.png">
      </ion-avatar>

      <ion-label>
        <h2>{{ item.dt_txt }}</h2>
        <p>{{ item.main.temp }} {{ isCelsius ? '°C' : '°F' }} | {{ item.weather[0].description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
